{{> post-info post}}

{{> comments post.comments}}

{{#if loggedIn}}
  <div class="row">
    <p>Add a comment</p>
  </div>
  <div class="row mb-3">
    <form class="comment-form">
      <textarea name="comment-body" class="form-control mb-3"></textarea>
      <button
        type="submit"
        class="btn btn-outline-primary"
        id="savecomment"
      >Submit</button>
    </form>
  </div>

  <script src="/assets/js/comment.js"></script>
{{/if}}